<h2>Heads up!</h2>

<p>
  Your subscription will renew automatically on
  <%= Time.at(@subscription.current_period_end).utc.strftime("%Y-%m-%d") %>.
</p>

<p>
  There's nothing you need to do, we've got you covered! Thanks for using Skilltree!
  If you have any questions, just reply to this email.
</p>
